AI mentor Chatbot (Telegram + n8n).json
{
  "name": "AI mentor Chatbot (Telegram + n8n)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -112
      ],
      "id": "a18af1e5-d0c2-4234-bed9-7934ff667d74",
      "name": "Telegram Trigger",
      "webhookId": "391ea82a-6451-45cc-b994-fb05230bafec",
      "credentials": {
        "telegramApi": {
          "id": "yDWurviexReK9Ft2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message : {{ $json.message.text }}\n\nNow respond to the message in a polite an Professional way and ask for the Module Selection, \nThen Start the Conversation to make the user completely clear of their doubt.",
        "options": {
          "systemMessage": "You are a Smart AI assistant Mentor at Innomatics Research Labs Training Institution, who had lot of IT experience, Knowledge and Expertise. For the first message you need to greets student and ask in which module they need help among [python, EDA, Machine Learning and Deep Learning] and answer only to these topics."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -112
      ],
      "id": "2f76c64c-410c-434f-8a1f-1b29b64ffd21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "d75898d0-2361-4cc4-b5b4-7bd6895ccb9a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sWMoEeaQAHoU8vno",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        64
      ],
      "id": "16cdf3ad-4e04-4eba-8418-8b218493376f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -112
      ],
      "id": "10c15aa8-b419-49b0-8511-409ae5e24f27",
      "name": "Send a text message",
      "webhookId": "a62d677d-6a22-48b5-8edd-86947d2b502a",
      "credentials": {
        "telegramApi": {
          "id": "yDWurviexReK9Ft2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI mentor for solving the queries of students via Telegram Chatbot",
        "height": 576,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -240
      ],
      "typeVersion": 1,
      "id": "2105b415-b1fd-4156-a4fd-e45a3914ef82",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ff8f53a6-40a1-40b6-9dc8-f3ff041997d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69218a4a713fe483ed9463e4d9ee7c6fb92bc5d6ba37518d0af6f3f8dbc83f41"
  },
  "id": "l7a4CjDDXQncqLjD",
  "tags": []
}